$primaryColor: #13A7FF;
$warnColor: #FAB654;
$errorColor: #FC856F;
$infoColor: #999;
$successColor: $primaryColor;

$gap: 16px!default;
$radius: 3px;
$sectionBg: #F4F4F8;
$borderColor: #eaeaea;

.ellipsis {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
